@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    place-items: center;
    background-color: #f0f2f5;
}
.navbar-custom {
    padding: 0.7rem 1rem;
}
.navbar-custom .navbar-brand {
    color: white;
}
.navbar-custom .dropdown .btn {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 16px;
}
.navbar-custom .dropdown .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar-custom .dropdown .dropdown-menu a {
    color: #0069d9;
}

.navbar-custom .dropdown img {
    border: 2px solid white;
}


.search-section {
    padding: 20px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.post-card {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-bottom: 20px;
    transition: transform .2s; /* Animation */
}
.post-card:hover {
    transform: scale(1.02); /* Slightly enlarge the card on hover */
    background-image: radial-gradient(#E3E3D2,#B0B096);

}
.post-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-card .card-body {
    padding: 20px;
}
.post-card .card-title {
    margin-bottom: 15px;
}
.post-card .card-text {
    color: #606770;
}

.post-show {
    background-image: radial-gradient(#E3E3D2,#B0B096);
}

/* Login CSS */
.login-container {
    max-width: 400px;
    margin-inline: auto;
    margin-top: 7rem;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container .form-control {
    margin-bottom: 15px;
}
.login-container .btn-primary {
    width: 100%;
}
.login-container img {
    max-width: 100px;
    margin-bottom: 20px;
    margin-left: 8rem;
}

/* registration css */

.registration-container {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.registration-container h2 {
    margin-bottom: 20px;
}
.registration-container .form-control {
    margin-bottom: 15px;
}
.registration-container .btn-primary {
    width: 100%;
}
.registration-container img {
    max-width: 100px;
    margin-bottom: 20px;
}

/* Login link CSS */
.login-link {
    margin-top: 20px;
}
.login-link p {
    margin-bottom: 0;
}
.login-link a {
    color: #007bff;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}

/* Register link CSS */
.register-link {
    margin-top: 20px;
}
.register-link p {
    margin-bottom: 0;
}
.register-link a {
    color: #007bff;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
